<div class="jumbotron">
  <div class="container">
    <h1><%= fa_icon "circle-o-notch" %> StukDo</h1>
    <p>This is my smart to do list Ruby on Rails Application.</p>
    <%= link_to "Sign Up", "#", class: "btn btn-danger", role: "button" %>
  </div>
</div>